#{extends 'main.html' /}
#{set title:'Home' /}

<h1>CookieClip</h1>
<h2>Bonjour ${connectedUser.prenom} ${connectedUser.nom}</h2>

<div id="panelCookie"></div>

#{set 'moreScripts'}
<script type="text/javascript">
    $(function() {
        var refreshAction = #{jsAction @Application.refresh() /}

        $("#panelCookie").load("@{Application.refresh()}");

        $(document).on('click', "#linkCookieClic", function(e) {
            e.preventDefault();
            $.get($(this).attr('href'), function(data) {
                $("#panelCookie").load("@{Application.refresh()}");
            });
        });

        setInterval(function(){
            $("#panelCookie").load("@{Application.refresh()}");
        }, 1000);
    });
</script>
#{/set}