#{extends 'main.html' /}
#{set title:'Home' /}

<h1>CookieClip</h1>
<h2>Bonjour ${connectedUser.prenom} ${connectedUser.nom}</h2>

#{include 'Application/refresh.html'/}

#{set 'moreScripts'}
<script type="text/javascript">
    $(function() {
        $(document).on('click', "#linkCookieClic", function(e) {
            e.preventDefault();
            $.get($(this).attr('href'), function(data) {
                $("#panelCookie").load("@{Application.refresh()}");
            });
        });

        setInterval(function(){
            $("#panelCookie").load("@{Application.refresh()}");
        }, 1000);
    });
</script>
#{/set}