#{extends 'main.html' /}
#{set title:'Home' /}

<h1>CookieClip</h1>
<h2>Bonjour ${connectedUser.prenom} ${connectedUser.nom}</h2>

<a id="linkCookieClic" href="@{Application.coockieClic()}">Coockie Clic</a>

<span id="cookieValue">${cookieClic.value}</span>

#{if cookieClic.value > models.types.EBooster.CLICKER.getCost()}
<a href="@{Application.acheter(models.types.EBooster.CLICKER)}">Acheter un clicker</a>
#{/if}
#{if cookieClic.value > models.types.EBooster.GRANDMA.getCost()}
<a href="@{Application.acheter(models.types.EBooster.GRANDMA)}">Acheter une GrandMère</a>
#{/if}

<table>
#{list boosters, as : 'booster'}
    <tr>
        <td>${booster.booster}</td>
        <td>${booster.nombre}</td>
    </tr>
#{/list}
</table>


#{set 'moreScripts'}
<script type="text/javascript">
    $(function() {
        $("#linkCookieClic").on('click', function(e) {
            e.preventDefault();

            $("#cookieValue").load($(this).attr('href'));
        });
    });
</script>
#{/set}