<div id="panelCookie">

    <a id="linkCookieClic" href="@{Application.cookieClic()}">Coockie Clic</a>

    <span>${cookieClic.value}</span>

    #{if cookieClic.value > models.types.EBooster.CLICKER.getCost()}
    <a href="@{Application.acheter(models.types.EBooster.CLICKER)}">Acheter un clicker</a>
    #{/if}
    #{if cookieClic.value > models.types.EBooster.GRANDMA.getCost()}
    <a href="@{Application.acheter(models.types.EBooster.GRANDMA)}">Acheter une GrandMère</a>
    #{/if}

    <table>
    #{list boosters, as : 'booster'}
        <tr>
            <td>${booster.booster}</td>
            <td>${booster.nombre}</td>
        </tr>
    #{/list}
    </table>

</div>