<a id="linkCookieClic" href="@{Application.cookieClic()}">Coockie Clic</a>

<span>${cookieStats.totalCookie.format("#,##0", " ")} cookies</span>
<span>${cookieStats.cookiePerSecond} cookies/s</span>

#{if cookieStats.totalCookie > models.types.EBooster.CLICKER.getCost()}
<a href="@{Application.acheter(models.types.EBooster.CLICKER)}">Acheter un clicker</a>
#{/if}
#{if cookieStats.totalCookie > models.types.EBooster.GRANDMA.getCost()}
<a href="@{Application.acheter(models.types.EBooster.GRANDMA)}">Acheter une GrandMère</a>
#{/if}

<table>
#{list cookieStats.boosters, as : 'booster'}
    <tr>
        <td>${booster.booster}</td>
        <td>${booster.dateAchat.format("dd/MM/yyyy HH:mm:ss")}</td>
    </tr>
#{/list}
</table>